{% extends 'baseFront.html.twig' %}
{% block  title %}


    {% for i in c %}


            <li>
                <a href="{{ asset(path("affiches",{'id':i.id})) }}"><span><img src="{{ asset('uploads/' ~ i.logo) }}" alt="" style="width: 40px" style="height:40px"> {{ i.nomt }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                <ul>
                    <li><a href="{{ path('afficheGFD',{'id':i.id}) }}"><span>Matches</span></a></li>
                    <li><a href="{{ path('afficheCls',{'id':i.id}) }}"><span>Standings</span></a></li>

                </ul>
            </li>


    {% endfor %}
    {% endblock %}
{% block match %}
      <section class="image-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <div class="wrap">
                            <ul class="breadcrumbs">
                                <li>Main</a>/</li>
                                <li>Joueur</li>
                            </ul>
                            <h1>{{ e.nom }} {{ e.prenom }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 {% endblock %}

{% block body %}

    <section class="player-single-wrap">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="captain-bage">Joueur</div>
                    <h4 class="player-name">{{ e.nom }} {{ e.prenom }}</h4>
                </div>

                <div class="col-md-6">
                    <div class="player-photo">
                        <div class="number">{{ e.numt }}</div>
                        <img class="img-responsive" src="{{ asset('uploads/' ~ e.photo) }}" alt="player" >
                    </div>


                </div>

                <div class="col-md-6">
                    <div class="player-info">
                        <h6 class="player-info-title">summary</h6>
                        <div class="summary">
                            <div class="row">
                               
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Name:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ e.nom }}</div>
                                
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Prenom:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ e.prenom }}</div>

                                  <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Nationalite:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ e.nationalite }}</div>
                               
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Age:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ e.age }}</div>
                               
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Poste:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">{{ e.poste }}</div>
                               
                              
                               
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="item">Club:</div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9"><a href="{{ path('detailCl', { 'id': e.club.id }) }}"> {% if e.club != null %}
                    <td class="d-none d-xl-table-cell"><img src="{{ asset('uploads/' ~ e.club.logo) }}" alt="" style="width: 40px" style="height:40px"></td>
                    {% else %}
                    <td class="d-none d-xl-table-cell"><img src="{{ asset('uploads/error-404.jpeg') }}" alt="" style="width: 40px" style="height:40px"></td>
                    {% endif %}</a></div>
                                

                        <br>    <br>

                        

                    </div>
                </div>

            </div>

        </div>

   

 
    

    <!--MAIN MATCH SHEDULE END-->




    </div>  </div>
 <br>    <br>  <br>    <br>
{% endblock %}

