{% extends 'baseFront.html.twig' %}
{% block  title %}


    {% for i in c %}


            <li>
                <a href="{{ asset(path("affiches",{'id':i.id})) }}"><span><img src="{{ asset('uploads/' ~ i.logo) }}" alt="" style="width: 40px" style="height:40px"> {{ i.nomt }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                <ul>
                    <li><a href="{{ path('afficheGFD',{'id':i.id}) }}"><span>Matches</span></a></li>
                    <li><a href="{{ path('afficheCls',{'id':i.id}) }}"><span>Standings</span></a></li>

                </ul>
            </li>


    {% endfor %}
    {% endblock %}
{% block match %}
    <section class="image-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <div class="wrap">
                            <ul class="breadcrumbs">
                                <li>Main</a>/</li>
                                <li>Match</li>
                            </ul>
                            <h1>Match</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
<div class="club-top-info">




 <div class="match-live-date">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div class="date">{{ e.dated |date('F j-Y-g:i a')}} <span>by Arbitre</span>  <a href="{{ path('detailAr', { 'id': e.arbitre.id }) }}"> {{ e.arbitre}} </a></div></div>
           <div class="col-md-6"><div class="event"><a href="{{ path('affiches',{'id':e.tournoi.id}) }}"><img src="{{ asset('uploads/' ~ e.tournoi.logo) }}" alt="" style="width: 50px" style="height:50px"> </a> {{ e.tournoi }}</div></div>
        </div>
    </div>
</div>
   <!--MACTH LIVE INFO BEGIN-->

    <div class="match-live-info-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        
<div class="match-live-info">
    <div class="title"> Club recevant – Club visiteur</div>
    <div class="match-info">
        <div class="team">
            <div class="avatar">
             <a href="{{ path('detailCl', { 'id': e.club1.id }) }}">    <img src="{{ asset('uploads/' ~ e.club1.logo) }}" alt="" style="width: 35px" style="height:35px"> </a></div>
            <div class="text">
                {{ e.club1 }}
            </div> 
        </div>
        <div class="score">
           {{ e.r1 }}:{{ e.r2 }}       </div>
        <div class="team right  wpb_animate_when_almost_visible wpb_flipInX flipInX wpb_start_animation animated">
            <div class="text">
                {{ e.club2 }}
            </div>
            <div class="avatar">
                <a href="{{ path('detailCl', { 'id': e.club2.id }) }}">  <img src="{{ asset('uploads/' ~ e.club2.logo) }}" alt="" style="width: 40px" style="height:40px">  </a> </div>
        </div>
        <br>  <br>
        <div class="title"><a href="{{ path('affiches',{'id':e.tournoi.id}) }}"><img src="{{ asset('uploads/' ~ e.tournoi.logo) }}" alt="" style="width: 50px" style="height:50px"></a></div>
         <div class="title"> {{ e.tournoi }}</div>
    </div>
    <div class="title">
    </div>
</div>
                </div>
            </div>
        </div> 
    </div>

<br> <br>

<h6>supposed lineups</h6>
                    <div class="match-lineup">
    <div class="no-gutter">
        <div class="col-sm-6">
            <div class="head">
                <div class="name"> {{ e.club1 }}</div>
            </div>
            <div class="team-wrap">	
            {% for i in jrr %}	
                <div class="member">
                    <a href="{{ path('detailJ', { 'cin': i.cin }) }}"class="avatar"><img  src="{{ asset('uploads/' ~ i.photo) }}" alt="member-avatar"></a>
                    <div class="info">
                        <div class="wrap">
                            <a href="player.html" class="name">{{ i.nom }}({{ i.poste }})</a>
                        </div>
                        <div class="country">{{ i.nationalite }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="head">
                <div class="name right">{{ e.club2 }}</div>
            </div>
                <div class="team-wrap right">
                {% for i in jr %}	
                    <div class="member">
                        <div class="info">
                                <div class="wrap">
                                    <a href="{{ path('detailJ', { 'cin': i.cin }) }}" class="name">{{ i.nom }}({{ i.poste }})</a>
                                </div>
                                <div class="country">{{ i.nationalite }}</div>
                            </div>
                            <a href="{{ path('detailJ', { 'cin': i.cin }) }}" class="avatar"><img  src="{{ asset('uploads/' ~ i.photo) }}" alt="member-avatar"></a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>					
    </div>



                                     	<center>
                     
                    <div class="row">
                        
                        
                            <div class="store-list-item">
                           
                                <div>
                                 <h6>Arbitre</h6>
                                    <a href="{{ path('detailAr', { 'id': e.arbitre.id }) }}">
                                        <img src="{{ asset('uploads/' ~ e.arbitre.image) }}" alt="product" style="width: 300px" style="height:300px">
                                    </a>
                                    <div class="info">
                                        <span class="name">{{e.arbitre.nomA}} </span>
                                        <div class="btn-wrap">
                                        <a href="{{ path('detailAr', { 'id': e.arbitre.id }) }}">
                                             <button class="btn small" >Detail</button>
                                            
                                            </a>
                                        </div>
                                       
                                    </div>

                                </div>
                           
                        </div>
</div>
  </center>



<br> <br>
<center>
<div class="container">
            <div class="row">
                <div class="col-md-12">
    <h3>Stade</h3>
                    <div class="arena">
    <div class="img-wrap">
        <div class="title"></div>
     <a href="{{ path('detailS', { 'id': e.stade.id }) }}">  <img src="{{ asset('uploads/' ~ e.stade.photo) }}" alt="arena-img" style="width: 500px" style="height:500px"> </a>
    </div>
    
    <div class="arena-info">
        <div class="name">{{ e.stade }}</div>
        <div class="date">{{ e.dated |date('F j-Y-g:i a')}}</div>
    </div>
</div>
</div>
        </div> 
    </div>
    </center>
    

<!--MAIN MATCH SHEDULE END-->






{% endblock %}