{% extends 'baseBack.html.twig' %}

{% block body %}

    <div class="card flex-fill">
        <div class="card-header">
            <div class="mb-3">
                <a class="" href="{{ path('ajoutAr') }}">
                    Ajout une arbitre
                </a>
            </div>
            <center> <h1>La liste des Arbitres</h1></center>
            <br>
            <table class="table table-hover my-0">
                <thead>
                <tr>
                    <th class="d-none d-xl-table-cell">id</th>
                    <th class="d-none d-xl-table-cell">Photo</th>
                    <th class="d-none d-xl-table-cell">Name</th>
                    <th class="d-none d-xl-table-cell">Nombre d'experience</th>
                    <th class="d-none d-xl-table-cell">Description</th>
                    <th class="d-none d-xl-table-cell">Action1</th>
                    <th class="d-none d-xl-table-cell">Action2</th>
                </tr>
                </thead>
                {% for i in e %}

                <tr>
                    <td class="d-none d-xl-table-cell">{{ i.id }}</td>
                    <td class="d-none d-xl-table-cell"><img src="{{ asset('uploads/' ~ i.image) }}" alt="" style="width: 80px" style="height:80px"> </td>
                    <td class="d-none d-xl-table-cell">{{ i.nomA }}</td>
                    <td class="d-none d-xl-table-cell">{{ i.nbe }}</td>
                    <td class="d-none d-xl-table-cell">{{ i.descrp }}</td>
                    <td class="d-none d-xl-table-cell"> <form action="{{ path('SuppAr',{'id':i.id}) }}"> <button class="btn btn-success">Supprimer</button> </form> </td>
                    <td class="d-none d-xl-table-cell"> <form action="{{ path('modifAr',{'id':i.id}) }}"> <button class="btn btn-success">Modifier</button> </form> </td>
                    {% endfor %}
                </tr>

            </table>
        </div>
    </div>
{% endblock %}