{% extends 'baseBack.html.twig' %}

{% block body %}
    {{form_start(fb,{'attr': {'novalidate': 'novalidate'}} ) }}

    <main class="content">
        <div class="container-fluid p-0">

            <div class="mb-3">
                <h1 class="h3 d-inline align-middle">User</h1>
                <a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">
                    Update User
                </a>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.username,"username")}}</h5>
                        </div>
                        <div class="card-body">
                            {{form_widget(fb.username , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.username) }}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.mdp,"mdp")}}</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.mdp , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.mdp) }}


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.nbp,"nbp")}} :</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.nbp , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.nbp) }}

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.email,"email")}} :</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.email , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.email) }}

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.role,"role")}} :</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.role , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.role) }}

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.role,"img")}} :</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.img , {'attr':{'class':'form-control'}})}}
                            {{ form_errors(fb.img) }}

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ form_label(fb.role,"badge")}} :</h5>
                        </div>
                        <div class="card-body">

                            {{form_widget(fb.badge , {'attr':{'class':'badge-control'}})}}
                            {{ form_errors(fb.badge) }}

                        </div>
                    </div>


                    <div class="btn-group mb-3" role="group" aria-label="Third group">
                        {{ form_widget(fb.add, {'attr':{'class':'btn btn-secondary'}}) }}
                    </div>
                </div>

            </div>
        </div>
    </main>
    {{ form_end(fb) }}

{% endblock %}
